<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>SoonYee's Portfolio</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <nav>
      <ul class="nav-items">
        <li><a href="https://engineerbear8000.github.io/#home">Home</a></li>
        <li><a href="https://engineerbear8000.github.io/#about">About</a></li>
        <li><a href="https://engineerbear8000.github.io/#flagship">Flagship_Projects</a></li>
        <li><a href="https://engineerbear8000.github.io/projects/">Portfolio</a></li>
        <li><a href="https://engineerbear8000.github.io/#contact">Contact</a></li>
      </ul>
      <!-- <div style="height: 100%; float: right;"> -->
        <ul class="nav-logo">
          <li><img src="/media/low poly engineerbear.png" alt="Logo"></li>
        </ul>
      <!-- </div> -->
      
    </nav>
  </header>

  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
</body>

</html>